@using WebUI.Html_helpers
@model WebUI.Models.LotsListViewModel
@{
    ViewBag.Title = "Lots";
}

@foreach (var p in @Model.Lots)
{
    if (p.IsEnded == false)
    {
        @Html.Partial("LotSummary", p)
    }
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
        new { page = x, category = Model.CurrentCategory }))
</div>