@model Domain.Entities.Lot

<div class="well">
    <h3>
        <strong>@Model.Title</strong>
        <span class="pull-right label label-primary">@Model.CurrentPrice.ToString("c")</span>
    </h3>
    <h4>
        <span class="pull-right label label-default">@Model.GoldPrice.Value.ToString("c") </span>@*TODO:if NULL*@
    </h4>
    <span class="lead">@Model.Description</span>
</div>