@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TastyPrice</h1>
    <p class="lead">TastyPrice is a free web auction. 
    Discover different music instruments in our auctions. All world in front of you!</p><br/>
    <p><a href='@Url.Action("Create","Lot")' class="btn btn-primary btn-lg">Create lot &raquo;</a></p>
</div>
